@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --bs-tertiary-bg: transparent;
  --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
}

body {
  overflow-x: hidden !important;
  font-family: "Montserrat";
}

.label-check {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding: 6px 10px 6px 5px;
}

.label-check-2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding: 8px 10px 6px 5px;
}

select {
  border-radius: 100px !important;
  margin-left: -5px !important;
  border: solid 2px #66b5fe !important;
  overflow-y: hidden !important;
  height: 58px;
}

.check-box-custom {
  /* Aumenta el tamaño del checkbox */
  width: 30px;
  height: 30px;
  border: 2px solid black;
}

.check-box-custom-2 {
  width: 30px;
  height: 30px;
  border: 2px solid #5c94ec;
  margin-right: 3px;
}

.cont-tam {
  height: 208px;
  width: 1160px;
}

.boton-cv {
  border-radius: 40px;
  width: 346px;
  height: 50px;
  padding: 12px 22px 12px 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: white;
  color: #004799;
  border-color: #5c94ec;
  box-shadow: none !important;
  text-shadow: none !important;
}

.boton-postularme {
  width: 232px;
  height: 65px;
  padding: 16px 40px 16px 40px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
  background-color: #5c94ec;
  border-color: #5c94ec;
  color: white;
  box-shadow: none !important;
  text-shadow: none !important;
  border: none;
}

.marg-bot-70 {
  margin-bottom: 70px !important;
}

.marg-bot-40 {
  padding-bottom: 40px !important;
}

.marg-top-30 {
  padding-top: 30px;
}

.borde-superior-negro {
  border-top: 1px solid #D0E0EE;
}

.check-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.form-check {
  margin-bottom: 34px;
}

hr#hr-primera-pagina {
  margin-top: 63px;
  background-color: #D0E0EE;
}

.espacio-boton {
  margin-top: 60px;
}

header div#nav-cont nav div span a#paranave {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #060f3a;
}
header div#nav-cont nav div span a#paranave div#flota {
  top: 62px;
  font-weight: 400;
  font-size: 18px;
}
header div#nav-cont nav div span a#paranave div#flota p {
  margin: 0px;
}
header div#nav-cont nav div span a#paranave a#paranave:hover {
  color: inherit;
  text-decoration: none;
}
header div#nav-cont nav div span a#paranave div#logo-paranave {
  bottom: 58px;
  margin: 0px;
  left: 36px;
}
header div#nav-cont nav div span a#paranave div#logo-paranave img#img-paranave {
  Filter: brightness(0) invert(1);
}
header div#nav-cont nav div span a#btn-ingles {
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
header div#nav-cont nav div span a#btn-ingles img {
  margin-bottom: 10px;
  margin-right: 6px;
}
header div#nav-cont nav div span a#btn-ingles p {
  font-size: 16px;
  margin-bottom: 10px;
}
header div#nav-cont nav div span a#btn-ingles:hover {
  color: inherit;
}
header div#cont-item {
  background-color: #1e479d !important;
}
header div#cont-item ul#ul-itemnes {
  height: 75px;
  background-color: #1e479d !important;
  font-size: 10px;
}
header div#cont-item ul#ul-itemnes li a {
  margin-right: 58px;
  margin-left: 58px;
  margin-top: 24px;
}

main div#cont-banner {
  display: block;
}
main div#cont-banner-cel {
  display: none;
}
main div#cont-banner {
  height: 508px;
  margin-bottom: 59px;
  width: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
main div#cont-banner img#img-banner {
  z-index: -9;
  height: 500px;
}
main div#cont-banner div {
  width: 1073px;
  height: 359px;
}
main div#cont-banner div p#titulo-banner {
  font-weight: 700;
  font-size: 50px;
  line-height: 60.95px;
  color: #fff;
  margin-bottom: 30px;
}
main div#cont-banner div p#texto-banner {
  width: 1073px;
  height: 158px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 60px;
}
main div#cont-banner div div#btn-form-link a#formulario {
  background-color: #f78b1d;
  width: 287px;
  height: 50px;
  border-radius: 30px;
  padding: 12px 30px 12px 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}
main div#cont-banner div div#btn-form-link a#linkedin {
  width: 155px;
  height: 50px;
  border-radius: 30px;
  padding: 12px 30px 12px 30px;
  background-color: #5c94ec;
  margin-left: 30px;
}
main div#cont-form-1 {
  width: 1080px;
}
main div#cont-form-1 div#curriculum {
  /*   div#check-cont {
    div#form-check {
      label {
        font-weight: 400 !important;
        font-size: 18px !important;
        line-height: 26px !important;
        color: red !important;
      }
    }
  } */
}
main div#cont-form-1 div#curriculum .titulo {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #004799;
  margin-bottom: 25px;
}
main div#cont-form-1 div#curriculum .subtitulo {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: black;
}
main div#cont-form-1 div#curriculum div.container.text-center {
  padding-right: 6px;
}
main div#cont-form-1 div#curriculum div.container.text-center input.btn.btn-primary {
  border-radius: 40px;
  width: 346px;
  height: 50px;
  padding: 12px 22px 12px 52px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: white;
  color: #004799;
}
main div#cont-form-1 div#curriculum div.container.text-center img {
  width: 20px;
  height: auto;
  z-index: 999;
  top: 12px;
  left: 450px;
}
main div#cont-form-1 a {
  text-decoration: none;
}
main div#cont-form-1 a p#siguiente {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #004799;
  margin-bottom: 50px;
}
main div#cont-form-1 a p#siguiente img {
  width: 38px;
  height: 15.75px;
  padding-right: 10px;
}
main div#cont-form-1 div.container.text-end {
  padding-right: 6px;
}
main div#cont-form-1 div.container.text-end input.btn.btn-primary {
  border-radius: 40px;
  width: 297px;
  height: 50px;
  padding: 12px 56px 12px 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  background-color: #5c94ec;
}
main div#cont-form-1 div.container.text-end img {
  width: 20px;
  height: auto;
  right: 22px;
  bottom: 14px;
}
main div#cont-form-1 hr#hr-pagina-2 {
  margin-right: 8px;
  margin-bottom: 30px;
}
main div#cont-form-1 p#datos-personales {
  height: 26px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #004799;
}
main div#cont-form-1 div#cont-nomb {
  margin-bottom: 40px;
}
main div#cont-form-1 div#cont-nomb p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
}
main div#cont-form-1 div#cont-nomb div textarea {
  border-radius: 100px;
  margin-left: -5px;
  border: solid 2px #66b5fe;
  overflow-y: hidden;
}
main div#cont-form-1 div#cont-nomb div label {
  color: gray;
}
main div#cont-form-1 div#cont-nomb div#cont-2-col {
  margin: 0px;
  padding: 0px;
}
main div#cont-form-1 div#cont-nomb div#cont-2-col div#col-1 {
  padding-right: 15px;
}
main div#cont-form-1 div#cont-nomb div#cont-2-col div#col-2 {
  padding-left: 15px;
}
main p#queremos-conocerte {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #004799;
  margin-bottom: 49px;
}
main div#area-interes p#titulo-interes {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #004799;
  margin-bottom: 38px;
}
main div#area-interes hr {
  margin-bottom: 38px;
}
main div#area-interes a {
  text-decoration: none;
}
main div#area-interes a p#siguiente-1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #004799;
  margin-bottom: 120px;
}
main div#area-interes a p#siguiente-1 img {
  width: 38px;
  height: 15.75px;
}
main div#btn-postularme {
  margin-bottom: 40px;
}
main div#btn-postularme input {
  width: 232px;
  height: 65px;
  padding: 16px 40px 16px 40px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
}

footer {
  background-color: #1e479d;
}
footer div#cont-col-fot {
  width: 1062px;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 0px;
  padding-right: 0px;
}
footer div#cont-col-fot div {
  font-weight: 500;
  line-height: 30px;
  font-size: 12px;
}
footer div#cont-col-fot div#img img {
  padding-top: 12px;
}
footer div#logo-nos {
  padding-top: 30px;
  padding-bottom: 50px;
}

@media (max-width: 1366px) {
  .cont-tam {
    height: 208px;
    width: 1104px;
  }
  footer {
    background-color: #1e479d;
  }
  footer div#cont-col-fot {
    width: 1005px;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
  }
  footer div#cont-col-fot div {
    font-weight: 500;
    line-height: 30px;
    font-size: 12px;
  }
  div#cont-item {
    background-color: #1e479d !important;
  }
  div#cont-item ul#ul-itemnes {
    height: 75px;
    background-color: #1e479d !important;
    font-size: 10px;
  }
  div#cont-item ul#ul-itemnes li a {
    margin-right: 50px !important;
    margin-left: 50px !important;
    margin-top: 24px !important;
  }
  main div#cont-banner {
    height: 508px;
  }
  main div#cont-banner img#img-banner {
    z-index: -9;
  }
  main div#cont-banner div {
    width: 1007px;
    height: 359px;
  }
  main div#cont-banner div p#titulo-banner {
    font-weight: 700;
    font-size: 50px;
    line-height: 60.95px;
    color: #fff;
    margin-bottom: 30px;
  }
  main div#cont-banner div p#texto-banner {
    width: 1002px;
    height: 158px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 60px;
  }
  main div#cont-banner div div#btn-form-link a#formulario {
    background-color: #f78b1d;
    width: 287px;
    height: 50px;
    border-radius: 30px;
    padding: 12px 30px 12px 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
  }
  main div#cont-banner div div#btn-form-link a#linkedin {
    width: 155px;
    height: 50px;
    border-radius: 30px;
    padding: 12px 30px 12px 30px;
    background-color: #5c94ec;
    margin-left: 30px;
  }
  main div#cont-form-1 {
    width: 1016px !important;
  }
  main div#cont-form-1 div#curriculum .titulo {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #004799;
    margin-bottom: 25px;
  }
  main div#cont-form-1 div#curriculum .subtitulo {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: black;
  }
  main div#cont-form-1 div#curriculum div.container.text-center {
    padding-right: 6px;
  }
  main div#cont-form-1 div#curriculum div.container.text-center input.btn.btn-primary {
    border-radius: 40px;
    width: 346px;
    height: 50px;
    padding: 12px 22px 12px 58px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    background-color: white;
    color: #004799;
  }
  main div#cont-form-1 div#curriculum div.container.text-center img {
    width: 20px;
    height: auto;
    z-index: 999;
    top: 12px;
    left: 418px;
  }
}
header#header-cel {
  display: none;
}

div#separador-azul-cel {
  display: none;
}

@media (max-width: 450px) {
  body {
    width: 376px;
    overflow-x: hidden;
  }
  main div#cont-banner {
    display: none;
  }
  main div#cont-banner-cel {
    display: block;
    height: 724px;
  }
  main div#cont-banner-cel img {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  div#separador-azul-cel {
    display: block;
    background-color: #1c4697;
    height: 15px;
  }
  header#header-pc {
    display: none;
  }
  .navbar {
    --bs-navbar-padding-y: 28px;
  }
  header#header-cel {
    display: block;
  }
  header#header-cel nav div a img {
    width: 215px;
  }
}/*# sourceMappingURL=style.css.map */