  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

  :root {
    --bs-tertiary-bg: transparent;
    /* Define tu color */
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
  }


  body {
    overflow-x: hidden !important;
    font-family: 'Montserrat';
  }

  .cont-tam {
    height: 208px;
    width: 1160px;
  }

  .marg-bot-70 {
    margin-bottom: 70px !important;
  }

  .marg-bot-60 {
    margin-bottom: 60px !important;
  }

  header {
    div#nav-cont {
      nav {
        div {
          span {
            a#paranave {
              width: 250px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #060f3a;

              div#flota {
                top: 62px;
                font-weight: 400;
                font-size: 18px;

                p {
                  margin: 0px;
                }
              }

              a#paranave:hover {
                color: inherit;
                text-decoration: none;
              }

              div#logo-paranave {
                bottom: 58px;
                margin: 0px;
                left: 36px;

                img#img-paranave {
                  Filter: brightness(0) invert(1);
                }
              }
            }

            a#btn-ingles {
              width: 125px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 30px;

              img {
                margin-bottom: 10px;
                margin-right: 6px;
              }

              p {
                font-size: 16px;
                margin-bottom: 10px;
              }

            }

            a#btn-ingles:hover {
              color: inherit;
            }
          }
        }
      }
    }

    div#cont-item {
      background-color: #1e479d !important;

      ul#ul-itemnes {
        height: 75px;
        background-color: #1e479d !important;
        font-size: 10px;

        li {
          a {
            margin-right: 58px;
            margin-left: 58px;
            margin-top: 24px;
          }
        }
      }
    }
  }


  main {
    margin-bottom: 120px;

    div#cont-banner {
      height: 508px;
      margin-bottom: 59px;
      width: auto;
      overflow-x: hidden;
      overflow-y: hidden;

      img#img-banner {
        z-index: -9;
        height: 500px;
      }

      div {
        width: 1073px;
        height: 359px;

        p#titulo-banner {
          font-weight: 700;
          font-size: 50px;
          line-height: 60.95px;
          color: #fff;
          margin-bottom: 30px;
        }

        p#texto-banner {
          width: 1073px;
          height: 158px;
          font-weight: 400;
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 60px;
        }

        div#btn-form-link {
          a#formulario {
            background-color: #f78b1d;
            width: 287px;
            height: 50px;
            border-radius: 30px;
            padding: 12px 30px 12px 30px;
            font-weight: 600;
            font-size: 18px;
            line-height: 26px;
          }

          a#linkedin {
            width: 155px;
            height: 50px;
            border-radius: 30px;
            padding: 12px 30px 12px 30px;
            background-color: #5c94ec;
            margin-left: 30px;
          }
        }
      }
    }

    div#cont-form-1 {
      width: 1080px;

      div#curriculum{
        .titulo{
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
          color: #004799;
          margin-top: 40px;
          margin-bottom: 25px;
        }

        .subtitulo{
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          color: black;
        }

        div.container.text-center {
          padding-right: 6px;
          margin-bottom: 40px;
  
          input.btn.btn-primary {
            border-radius: 40px;
            width: 297px;
            height: 50px;
            padding: 12px 22px 12px 22px;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
          }
  
          img {
            width: 20px;
            height: auto;
            z-index: 999;
          }
        }
      }

      div.container.text-end {
        padding-right: 6px;
        margin-bottom: 40px;

        input.btn.btn-primary {
          border-radius: 40px;
          width: 297px;
          height: 50px;
          padding: 12px 56px 12px 22px;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
        }

        img {
          width: 20px;
          height: auto;
          right: 22px;
          bottom: 14px;
        }
      }

      hr#hr-pagina-2{
        margin-right: 8px;
        margin-bottom: 30px;
      }

      p#datos-personales {
        // width: 181px;
        height: 26px;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #004799;
      }

      div#cont-nomb {
        margin-bottom: 40px;

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 4px;
        }

        div {
          textarea {
            border-radius: 100px;
            margin-left: -5px;
            border: solid 2px #66b5fe;
            overflow-y: hidden;
          }

          label {
            color: gray;
          }
        }

        div#cont-2-col {
          margin: 0px;
          padding: 0px;

          div#col-1 {
            padding-right: 15px;
          }

          div#col-2 {
            padding-left: 15px;
          }
        }
      }
    }

    div#cont-form-1:hover {}

    p#queremos-conocerte {
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      color: #004799;
      margin-bottom: 49px;
    }

    div#area-interes {
      p#titulo-interes {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #004799;
        margin-bottom: 38px;
      }

      div#interes {}

      hr {
        margin-bottom: 38px;
      }

      a {
        text-decoration: none;

        p#siguiente {
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
          color: #004799;

          img {
            width: 28px;
            height: 15.75px;
          }
        }
      }
    }
  }

  footer {
    background-color: #1e479d;

    div#cont-col-fot {
      width: 1062px;
      padding-top: 80px;
      padding-bottom: 40px;
      padding-left: 0px;
      padding-right: 0px;

      div {
        font-weight: 500;
        line-height: 30px;
        font-size: 12px;
      }

      div#img {
        img {
          padding-top: 12px;
        }
      }
    }

    div#logo-nos {
      padding-top: 30px;
      padding-bottom: 50px;
    }
  }

  @media (max-width: 1366px) {

    .cont-tam {
      height: 208px;
      width: 1104px;
    }

    footer {
      background-color: #1e479d;

      div#cont-col-fot {
        width: 1005px;
        padding-top: 80px;
        padding-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;

        div {
          font-weight: 500;
          line-height: 30px;
          font-size: 12px;
        }
      }
    }

    div#cont-item {
      background-color: #1e479d !important;

      ul#ul-itemnes {
        height: 75px;
        background-color: #1e479d !important;
        font-size: 10px;

        li {
          a {
            margin-right: 50px !important;
            margin-left: 50px !important;
            margin-top: 24px !important;
          }
        }
      }
    }

    main {
      div#cont-banner {
        height: 508px;

        img#img-banner {
          z-index: -9;
        }

        div {
          width: 1007px;
          height: 359px;

          p#titulo-banner {
            font-weight: 700;
            font-size: 50px;
            line-height: 60.95px;
            color: #fff;
            margin-bottom: 30px;
          }

          p#texto-banner {
            width: 1002px;
            height: 158px;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 60px;
          }

          div#btn-form-link {
            a#formulario {
              background-color: #f78b1d;
              width: 287px;
              height: 50px;
              border-radius: 30px;
              padding: 12px 30px 12px 30px;
              font-weight: 600;
              font-size: 18px;
              line-height: 26px;
            }

            a#linkedin {
              width: 155px;
              height: 50px;
              border-radius: 30px;
              padding: 12px 30px 12px 30px;
              background-color: #5c94ec;
              margin-left: 30px;
            }
          }
        }
      }

      div#cont-form-1 {
        width: 1016px !important;
      }
    }
  }